In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("drinks.csv")
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [16]:
# Top 20 countries with most beer consumption per citizen
df.sort_values("beer_servings", ascending=False).head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
117,Namibia,376,3,1,6.8
45,Czech Republic,361,170,134,11.8
62,Gabon,347,98,59,8.9
65,Germany,346,117,175,11.3
98,Lithuania,343,244,56,12.9
135,Poland,343,215,56,10.9
188,Venezuela,333,100,3,7.7
81,Ireland,313,118,165,11.4
129,Palau,306,63,23,6.9
140,Romania,297,122,167,10.4
16,Belgium,295,84,212,10.5
130,Panama,285,104,18,7.2
160,Spain,284,157,112,10.0
151,Serbia,283,131,127,9.6
93,Latvia,281,216,62,10.5
9,Austria,279,75,191,9.7
156,Slovenia,270,51,276,10.6
60,Finland,263,133,97,10.0
17,Belize,263,114,8,6.8
8,Australia,261,72,212,10.4

In [9]:
# Top 20 countries with most wine consumption per citizen
df.sort_values("wine_servings", ascending=False).head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8
136,Portugal,194,67,339,11.0
3,Andorra,245,138,312,12.4
166,Switzerland,185,100,280,10.2
48,Denmark,224,81,278,10.4
156,Slovenia,270,51,276,10.6
99,Luxembourg,236,133,271,11.4
42,Croatia,230,87,254,10.2
83,Italy,85,42,237,6.5
55,Equatorial Guinea,92,0,233,5.8
6,Argentina,193,25,221,8.3
185,Uruguay,115,35,220,6.6
67,Greece,133,112,218,8.3
8,Australia,261,72,212,10.4
16,Belgium,295,84,212,10.5
182,United Kingdom,219,126,195,10.4
9,Austria,279,75,191,9.7
120,Netherlands,251,88,190,9.4
165,Sweden,152,60,186,7.2
75,Hungary,234,215,185,11.3

In [17]:
# Top 20 countries with most spirit consumption per citizen
df.sort_values("spirit_servings", ascending=False).head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
68,Grenada,199,438,28,11.9
15,Belarus,142,373,42,14.4
73,Haiti,1,326,1,5.9
141,Russian Federation,247,326,73,11.5
144,St. Lucia,171,315,71,10.1
72,Guyana,93,302,1,7.1
155,Slovakia,196,293,116,11.4
50,Dominica,52,286,26,6.6
169,Thailand,99,258,1,6.4
40,Cook Islands,0,254,74,5.9
25,Bulgaria,231,252,94,10.3
87,Kazakhstan,124,246,12,6.8
98,Lithuania,343,244,56,12.9
180,Ukraine,206,237,45,8.9
139,Moldova,109,226,18,6.3
145,St. Vincent & the Grenadines,120,221,11,6.3
93,Latvia,281,216,62,10.5
75,Hungary,234,215,185,11.3
135,Poland,343,215,56,10.9
143,St. Kitts & Nevis,194,205,32,7.7

In [18]:
# Countries with the most consumption of alcohol overall per citizen
df.sort_values("total_litres_of_pure_alcohol", ascending=False).head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
15,Belarus,142,373,42,14.4
98,Lithuania,343,244,56,12.9
3,Andorra,245,138,312,12.4
68,Grenada,199,438,28,11.9
45,Czech Republic,361,170,134,11.8
61,France,127,151,370,11.8
141,Russian Federation,247,326,73,11.5
81,Ireland,313,118,165,11.4
155,Slovakia,196,293,116,11.4
99,Luxembourg,236,133,271,11.4
65,Germany,346,117,175,11.3
75,Hungary,234,215,185,11.3
136,Portugal,194,67,339,11.0
135,Poland,343,215,56,10.9
156,Slovenia,270,51,276,10.6
93,Latvia,281,216,62,10.5
16,Belgium,295,84,212,10.5
48,Denmark,224,81,278,10.4
182,United Kingdom,219,126,195,10.4
140,Romania,297,122,167,10.4